<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label i18n>Title</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field>
        <mat-label i18n>Description</mat-label>
        <input matInput formControlName="description">
    </mat-form-field>
    <mat-checkbox formControlName="done"><ng-container i18n>Done</ng-container></mat-checkbox>
    <button *ngIf="!readonly" type="submit" [disabled]="!form.valid" i18n>Submit</button>
</form>