<mat-expansion-panel hideToggle=true>
    <mat-expansion-panel-header #header (click)="header._toggle()"> <!-- Dont toggle for now, future use -->
        <mat-panel-title>
            <ng-container *ngIf="todoItem?.title; else noTitle">{{ todoItem.title }}</ng-container>
            <ng-template #noTitle i18n>No title</ng-template>
        </mat-panel-title>
        <mat-panel-description>
            <ng-container *ngIf="todoItem?.description; else noDescription">{{ todoItem.description }}</ng-container>
            <ng-template #noDescription i18n>No description</ng-template>

            <button mat-icon-button [ngSwitch]="todoItem?.checked" (click)="$event.stopPropagation()">
                <mat-icon *ngSwitchCase=true>radio_button_checked</mat-icon>
                <mat-icon *ngSwitchDefault>radio_button_unchecked</mat-icon>
            </button>
        </mat-panel-description>
    </mat-expansion-panel-header>
</mat-expansion-panel>