<mat-expansion-panel hideToggle=true [class.done]="todoItem?.done">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <ng-container *ngIf="todoItem?.title; else noTitle">{{ todoItem.title }}</ng-container>
            <ng-template #noTitle i18n>No title</ng-template>
        </mat-panel-title>
        <mat-panel-description>
            <ng-container *ngIf="todoItem?.description; else noDescription">{{ todoItem.description }}</ng-container>
            <ng-template #noDescription i18n>No description</ng-template>
            <div (click)="$event.stopPropagation()"> <!-- Prevent mat-expansion-panel from expanding -->
                <button [disabled]="readonly" mat-icon-button [ngSwitch]="todoItem?.done" (click)="onToggleDone(todoItem.id)">
                    <mat-icon *ngSwitchCase=true>done</mat-icon>
                    <mat-icon *ngSwitchDefault>check_box_outline_blank</mat-icon>
                </button>
                <button [disabled]="readonly" mat-icon-button (click)="onDelete(todoItem.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <app-todo-item-form readonly=true [todoItem]="todoItem"></app-todo-item-form>
</mat-expansion-panel>